<% layout('./layouts/boilerplate') -%>
<body>
    <% if(success && success.length) { %>
        <%- include('../partials/success') %>
    <% } else if (error && error.length) { %>
        <%- include('../partials/error') %>
    <% } %>
    <%- include('../partials/navbar') %>
    <div class="container">
        <%- include('../partials/auth/signup') %>
    </div>
    <%- include('../partials/footer') %>
</body>