<% layout('./layouts/boilerplate') -%>
<body>
    <% if(success && success.length) { %>
        <%- include('../partials/success') %>
    <% } else if (error && error.length) { %>
        <%- include('../partials/error') %>
    <% } %>
    <%- include('../partials/sidebar') %>
    <div class="main-content">
        <h1>Survey Home</h1>
        <% for (survey of surveys) { %>
            <a href="/app/survey/<%= survey._id %>"><%= survey.name %></a>
        <% } %> 
    </div>
    
</body>
