<% layout('./layouts/boilerplate') -%>
<body>
    
    <%- include('../partials/sidebar') %>
    <div class="main-content">
        <% if(success && success.length) { %>
            <%- include('../partials/success') %>
        <% } else if (error && error.length) { %>
            <%- include('../partials/error') %>
        <% } %>
        <h1>Individual Survey</h1>
        <p><a href="/app/survey/<%= survey._id %>/surveyInstance">Create New Survey Instance</a></p>
        <p><a href="/app/survey/<%= survey._id %>/list">See all your survey instances for <%= survey.name %></a></p>
    </div> 
</body>

