<% layout('./layouts/boilerplate') -%>
<body>
    <% if(success && success.length) { %>
        <%- include('../partials/success') %>
    <% } else if (error && error.length) { %>
        <%- include('../partials/error') %>
    <% } %>
    <%- include('../partials/navbar') %>
    <%- include('../partials/thoughts/hero') %>
    <div class="container my-2">
        <%- include('../partials/thoughts/top6') %>
        <%- include('../partials/thoughts/thoughtAll') %>
        <%- include('../partials/main/newsletter') %>
    </div>
    <%- include('../partials/footer') %>
</body>